
body {
    display: grid;
    align-content: center;
    justify-content: center;    
    background-color: lightcoral;
    text-align: left;
    }


img, 
.main,
.main-recipe{
    border-style: groove;
    border-width: 5px;
    border-color: black;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.479);
}
img{
    margin-left: -50px;
    width: 600px;
    height: 300px;
    border-radius: 25px;

}
img.recipe-img{
    margin-left: 200px;
}
h1{
    text-align: center;
}

.main{
    margin-left: 20px;
    text-align: center;
    background-color: yellow;
    height: 500px;
    width: 500px; 
}

.main-recipe{
    background-color: yellow;
    width: 1000px;
    height: fit-content;
    margin-block: 50px;
    padding: 50px;
    
    
}

ul{
    list-style-type: none;
    
}

button{
    background-color: lightgreen;
    font-size: large;
    height: 80px;
    width: 300px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.479);
    border: none;    
        
}

header{
    position: fixed;
}

a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}